.body {
    margin: 0;
}
.NavBar {
    background-color: red;
    width: 100vw;
    height: 100px;
    box-sizing: border-box;
    padding: 16px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.navArea {
    display: flex;
    height: 100%;
    flex: 1;
    align-items: center;
}
.navAreaOne {
    background-color: aquamarine;
}
.navAreaTwo {
    background-color: yellow;
    justify-content: center;
}
  
.navAreaThree {
    background-color: blueviolet;
}