.body {
    margin: 0;
}
.NavBar{
    background-color: red;
    width: 100vw;
    height: 100px;
    box-sizing: border-box;
    padding: 16px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.NavArea {
    display: flex;
    height: 100%;
    flex: 1;
    align-items: center;
  }
  .NavArea1 {
    background-color: aquamarine;
  }
  
  .Clothes {
    height: 50vh;
  }
  
  .LogImg {
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }
  
  .NavArea2 {
    background-color: yellow;
    justify-content: center;
  }
  
  .NavArea3 {
    background-color: blueviolet;
  }

.Content {
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    background-color: brown;
    min-height: 50vh;
    font-size: 70px;
    text-align: center;
  }
  
  .Footer {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    min-height: 200px;
    background-color: bisque;
    justify-content: center;
  }