.body {
    margin: 0;
}
.NavBar {
        background-color: red;
        width: 100vw;
        height: 100px;
        box-sizing: border-box;
        padding: 16px;
        justify-content: center;
        align-items: center;
        display: flex;
}
    
.frame {
        display: flex;
        height: 100%;
        flex: 1;
        align-items: center;
        background-color: red;
        width: 100vw;
        height: 100px;
        box-sizing: border-box;
        padding: 16px;
        justify-content: center;
        align-items: center;
        display: flex;
}
.frame1 {
        background-color: aquamarine;
     
}
.frame2 {
        background-color: yellow;
        justify-content: center;
}
.frame3 {
        background-color: blueviolet;
}
.imageImg {
      height: 50px;
      aspect-ratio: 1;
}
.Content {
        background-color: blue;
        width: 100vw;
        height: 500px;
        box-sizing: border-box;
        padding: 4px;
        justify-content: center;
        align-items: center;
        display: flex;
}
.ContArea {
        display: flex;
        height: 100%;
        align-items: center;
        flex-direction: column;
}
.ContArea1 {
        flex: 1;
        background-color: plum;
        width: 100%;
        box-sizing: border-box;
        justify-content: center;     
}
.ContArea2 {
        flex: 1;
        background-color: burlywood;
        justify-content: center;
}
.ContArea3 {
        flex: 1;
        background-color: chartreuse;
        justify-content: center;
}
.Clothes {
        width: 40px;
        height: 40px;
        border-radius: 20px;
}
.Value1 {
        font-size: medium;
        color: black;
}
    
.Footer {
        background-color: red;
        width: 100vw;
        height: 100px;
        box-sizing: border-box;
        padding: 16px;
        justify-content: center;
        align-items: center;
        display: flex;
}
.foot {
        display: flex;
        height: 100%;
        flex: 1;
        align-items: center;
}
.foot1 {
    background-color: green;   
}
.foot2 {
        background-color: yellow;
        justify-content: center;
}