.Kopfzeile{
    background-color: red;
    width: 100vw;
    height: 100px;
    box-sizing: border-box;
    padding: 16px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

.frame {
  flex: 1;
  height: 100%;
}
.frame1 {
  background-color: blue;
}
.frame2 {
  background-color: green;
}
.frame3 {
  background-color: black;

body {
  margin: 0;
}